@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  height: 6.3rem;
  background-color: white;
  box-shadow: 1px 0px 20px 3px rgba(78, 78, 78, 0.082);
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  padding: 0 10%;
}
header .header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3px;
}
header .logo {
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  letter-spacing: 2px;
}
header .logo p {
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 2px;
}
header .gnb {
  font-size: 1.8rem;
  display: flex;
  gap: 25px;
  padding-bottom: 2px;
}
header .gnb .mobile-btn {
  display: none;
  cursor: pointer;
  width: 35%;
}
header .gnb .mobile-btn img {
  width: 100%;
}
header .gnb .gnb_list {
  letter-spacing: 2px;
}
header .gnb .gnb_list a:hover {
  color: #ec3b00;
}

.left-menu {
  display: none;
  background-color: white;
  position: fixed;
  top: 85px;
  left: 0;
  z-index: 99997;
  box-shadow: 1px 0px 20px 3px rgba(78, 78, 78, 0.082);
  width: 150px;
  height: 100%;
  padding-top: 250px;
  padding-left: 10px;
}
.left-menu h1 {
  font-size: 2.5rem;
}
.left-menu p {
  font-size: 1.5rem;
}
.left-menu .left-menu_inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
  width: 130px;
  text-align: right;
}
.left-menu .lnb_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 2rem;
  font-weight: 300;
}
.left-menu .lnb_list li:nth-child(1) {
  letter-spacing: 1.2px;
  font-size: 2.2rem;
}

.left-menu.visible {
  display: block;
}

.menu-pop {
  font-size: 2rem;
  padding: 30px 5%;
}
.menu-pop .mo-gnb {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
}

.intro {
  background-color: rgb(184, 183, 183);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  padding: 0% 9%;
}

.intro-inner {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro-inner .text-flow {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 6%;
}
.intro-inner .text-flow h2 {
  letter-spacing: 8px;
  font-weight: 900;
  font-size: 4.2rem;
}
.intro-inner .text-flow h3 {
  letter-spacing: 4px;
  font-size: 2.1rem;
}
.intro-inner .text-flow .animate__fadeInDown {
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.intro-inner .light-ray {
  width: 100%;
  position: absolute;
}
.intro-inner .light-ray .line {
  background-color: #ec3b00;
  width: 100%;
  height: 3px;
  overflow: hidden;
}
.intro-inner .light-ray .line .light {
  background-color: white;
  height: 3px;
  animation: light 4.5s forwards;
}
@keyframes light {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.intro-inner .line_text {
  padding-top: 6%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 1.8rem;
}
.intro-inner .line_text h3 {
  letter-spacing: 2px;
}
.intro-inner .line_text span {
  color: #ec3b00;
}
.intro-inner .line_text .intro-click {
  cursor: pointer;
  letter-spacing: 10px;
  font-style: italic;
}
.intro-inner .line_text .animate__fadeInUp {
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.coding .animate__flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.coding .section {
  width: 100%;
  height: 100vh;
}
.coding .section .section_inner {
  padding: 2% 10% 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.coding .section .section_inner-1 {
  gap: 112px;
}
.coding .section .mo-content {
  display: flex;
  gap: 20px;
}
.coding .section .mo-content .screen-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.coding .section .mo-content .screen-wrapper .res-phone {
  width: 160px;
  height: 320px;
  border-radius: 2rem;
  box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
  outline: 3px ridge #444444;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0;
  bottom: 0;
}
.coding .section .mo-content .screen-wrapper .res-phone:hover {
  background-position: 100% 100%;
}
.coding .section .mo-content .screen-wrapper .bl-phone {
  background: url(/portfolio/images/mobile_SPC.jpg) no-repeat;
  background-size: cover;
  transition: background-position 3s linear;
}
.coding .section .mo-content .screen-wrapper .no-phone {
  display: none;
}
.coding .section .content-wrapper {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}
.coding .section .preview {
  width: 515px;
  z-index: 1;
  padding-bottom: 25px;
}
.coding .section .preview .cloneImg_1 {
  background: url(/portfolio/images/full-screen_SPC.JPG) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}
.coding .section .preview-2 .cloneImg {
  max-width: 430px;
  width: 430px;
  height: 253px;
  border-radius: 2rem;
}
.coding .section .preview-2 .cloneImg_2 {
  background: url(/portfolio/images/full-screen_ckdhc.JPG) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}
.coding .section .preview-2 .cloneImg_3 {
  background: url(/portfolio/images/full-screen_ulsan-fire.JPG) no-repeat;
  background-size: cover;
  transition: background-position 0.8s linear;
}
.coding .section .preview-2 .cloneImg_4 {
  background: url(/portfolio/images/full-screen_suseong.JPG) no-repeat;
  background-size: cover;
  transition: background-position 1.5s linear;
}
.coding .section .cloneImg {
  min-width: 360px;
  width: 360px;
  height: 212px;
  border-radius: 1.5rem;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
  filter: grayscale(1) brightness(0.8);
  cursor: pointer;
}
.coding .section .cloneImg:hover {
  background-position: 100% 100%;
  filter: none;
}
.coding .section .info {
  width: 310px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-end;
}
.coding .section .info h3 {
  font-size: 2.8rem;
  font-weight: 500;
}
.coding .section .info .feature {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.coding .section .info table {
  font-size: 1.5rem;
  width: 310px;
}
.coding .section .info table th,
.coding .section .info table td {
  border: 1px solid black;
  vertical-align: middle;
}
.coding .section .info table th {
  width: 75px;
}
.coding .section .info table td {
  padding: 10px 5px;
}
.coding .section .info table .skills-items {
  display: flex;
  gap: 25px;
}
.coding .section .info table ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3px;
}
.coding .section .info .link_btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.coding .section .info .link_btn button {
  width: 100px;
  height: 35px;
  border-radius: 8px;
  border: none;
  box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
  background-color: rgb(210, 210, 210);
  transition: all 0.4s ease-in-out;
}
.coding .section .info .link_btn button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
}
.coding .section .info .link_btn button:hover {
  background-color: white;
}
.coding .clone_5 .section_inner-2 {
  padding: 9% 10% 0%;
  gap: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coding .clone_5 .mySwiper {
  width: 800px;
  height: 465px;
  position: relative;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide .img-wrap {
  width: 600px;
  height: 360px;
  border-radius: 2.6rem;
  overflow: hidden;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide .img-wrap img {
  width: 100%;
  height: 100%;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide .sqa img {
  transform: scale(1, 1.15);
  object-fit: cover;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: none;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
  background-color: rgb(210, 210, 210);
  transition: 0.4s ease-in-out;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.coding .clone_5 .mySwiper .swiper-wrapper .swiper-slide button:hover {
  background-color: white;
}
.coding .clone_5 .mySwiper .swiper-button-next,
.coding .clone_5 .mySwiper .swiper-button-prev {
  filter: invert(70%);
  width: 45px;
  height: 45px;
  position: absolute;
  top: 200px;
}
.coding .clone_5 .mySwiper .swiper-button-prev {
  background: url(/portfolio/images/arrow-left.svg) no-repeat;
}
.coding .clone_5 .mySwiper .swiper-button-next {
  background: url(/portfolio/images/arrow-right.svg) no-repeat;
}
.coding .clone_5 .mySwiper .swiper-button-next:after,
.coding .clone_5 .mySwiper .swiper-button-prev:after {
  display: none;
}
.coding .clone_5 .swiper-pagination {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0px;
}

.fp-is-overflow > .fp-overflow {
  height: 100vh;
  width: 100%;
}

.fp-watermark {
  display: none;
}

.go-top {
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: #FF6347;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 1px solid rgba(0, 0, 0, 0.107);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  bottom: 5%;
  right: 25%;
  opacity: 0;
  cursor: pointer;
}
.go-top img {
  width: 15px;
}

.go-top.move {
  animation: fadeInUp 4s infinite;
  opacity: 1;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}
#aboutMe {
  padding: 12% 10% 5%;
}
#aboutMe .aboutMe_inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}
#aboutMe .meBox_wrapper {
  display: flex;
  gap: 50px;
}
#aboutMe .meBox_wrapper h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#aboutMe .meBox_wrapper h6 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#aboutMe .meBox_wrapper p {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
#aboutMe .photo_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#aboutMe .photo_img img {
  width: 100%;
  max-width: 200px;
  min-width: 180px;
  border-radius: 100%;
}
#aboutMe .photo_img button {
  width: 150px;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
  background-color: #FF6347;
  color: white;
  transition: all 0.4s ease-in-out;
}
#aboutMe .photo_img button a {
  font-size: 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
}
#aboutMe .photo_img button:hover {
  background-color: white;
  color: rgb(86, 86, 86);
}
#aboutMe .photo_img .animate__pulse {
  animation: pulse 1.5s ease infinite;
}
#aboutMe .resume {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#aboutMe .resume .meBox_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
#aboutMe .resume .meBox_1 .profile {
  grid-column: 1/2;
}
#aboutMe .resume .meBox_1 .profile div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#aboutMe .resume .meBox_1 .license {
  grid-column: 2/3;
}
#aboutMe .resume .meBox_1 .personality {
  grid-column: 3/4;
}
#aboutMe .resume .education {
  grid-row: 2/3;
  grid-column: 1/4;
}
#aboutMe .resume .meBox_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#aboutMe .resume .meBox_2 .experience {
  grid-column: 1/2;
}
#aboutMe .resume .meBox_2 .performance {
  grid-column: 2/4;
}
#aboutMe .resume .meBox_2 .performance ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#aboutMe .resume .meBox_2 .performance ul li img {
  width: 60px;
  height: 65px;
  object-fit: contain;
}
#aboutMe .resume .meBox_2 .performance ul li:nth-child(3) img {
  width: 56px;
  height: 58px;
  object-fit: contain;
}

#design .animate__flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#design .design-project {
  padding: 12% 10% 5%;
  width: 100%;
  height: 100%;
}
#design .design-project .design_inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}
#design .design-project .detail_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#design .design-project .detail_wrapper .phone_wrapper {
  display: flex;
  gap: 100px;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box h3 {
  font-size: 2rem;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box .phone {
  overflow: hidden;
  box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
  outline: 3px ridge #444444;
  width: 160px;
  height: 320px;
  border-radius: 2rem;
  cursor: pointer;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box .phone:hover {
  background-position: 100% 100%;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box .detailPage_1 {
  background: url(/portfolio/images/design/detailPage_1.jpg) no-repeat;
  background-size: cover;
  transition: background-position 3.5s linear;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box .detailPage_2 {
  background: url(/portfolio/images/design/detailPage_2.jpg) no-repeat;
  background-size: cover;
  transition: background-position 4s linear;
}
#design .design-project .detail_wrapper .phone_wrapper .design_box .detailPage_3 {
  background: url(/portfolio/images/design/detailPage_3.jpg) no-repeat;
  background-size: cover;
  transition: background-position 2s linear;
}
#design .design-project .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
#design .design-project .grid-wrapper .grid-item {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  background-color: aquamarine;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
#design .design-project .grid-wrapper .grid-item::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.467);
  width: 220px;
  height: 220px;
  border-radius: 20px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
#design .design-project .grid-wrapper .cardDesign {
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(/portfolio/images/design/cardDesign.jpg) no-repeat;
  background-size: cover;
}
#design .design-project .grid-wrapper .nonsan {
  grid-row: 1/2;
  grid-column: 2/3;
  background: url(/portfolio/images/design/nonsan.jpg) no-repeat 50% 11%;
  background-size: 277%;
}
#design .design-project .grid-wrapper .waenzi {
  grid-row: 1/2;
  grid-column: 3/4;
  background: url(/portfolio/images/design/appDe-1.jpg) no-repeat 0% 8%;
  background-size: cover;
}
#design .design-project .grid-wrapper .heywha {
  grid-row: 2/3;
  grid-column: 1/2;
  background: url(/portfolio/images/design/heywha_logo.png) no-repeat 50% 68%;
  background-size: 90%;
}
#design .design-project .grid-wrapper .nene {
  grid-row: 2/3;
  grid-column: 2/3;
  background: #EF2D24 url(/portfolio/images/design/nene_reDe_main_1.jpg) no-repeat 2% -2%;
  background-size: 1100%;
}
#design .design-project .grid-wrapper .reDesign {
  grid-row: 2/3;
  grid-column: 3/4;
  background: #575556 url(/portfolio/images/design/reDe2_mo.jpg) no-repeat 50% -1%;
  background-size: 200%;
}

.pop-up .detail_pop {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.pop-up .detail_pop .detail_img {
  min-width: 450px;
  width: 450px;
  min-width: 400px;
}
.pop-up .detail_pop .close_btn {
  margin-top: 20px;
  width: 30px;
  filter: invert(100);
  cursor: pointer;
}

@font-face {
  font-family: "Cafe24Decoshadow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InkLipquid";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
}
main .tab_title {
  font-size: 2.5rem;
  letter-spacing: 3px;
}

.hover_effect {
  font-family: "InkLipquid";
  font-size: 1.8rem;
  padding: 0px 0px 8px 8px;
}

.click_effect {
  font-family: "InkLipquid";
  font-size: 2.2rem;
}

.animate__flash {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.intro {
  display: block;
}

.intro.hide {
  display: none;
}

.firstPage {
  display: none;
  opacity: 0;
  transition: opacity 2s ease;
}

.firstPage.show {
  display: block;
  opacity: 1;
}

.tab_item {
  display: none;
}

/* .firstPage.show가 적용되었을 때 */
.info_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info_wrapper .info_page {
  opacity: 0;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.info_wrapper .info_page .info_detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info_wrapper .info_page .info_detail .title {
  display: flex;
  justify-content: space-between;
}
.info_wrapper .info_page .info_detail .title h3 {
  font-size: 3.6rem;
}
.info_wrapper .info_page .info_detail .title img {
  width: 18px;
  height: 18px;
  filter: invert(100);
  cursor: pointer;
}

.info_page.show {
  opacity: 1;
}

.clone.remove {
  display: none;
}