@use "./color.scss";

header {
  background-color: white;
  width: 100%;
  height: 85px;
  display: flex;
  padding: 0 9%;
  box-shadow: 1px 0px 20px 3px rgba(78, 78, 78, 0.082);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  .header_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 10px;

    span {
      font-weight: 400;
      font-size: 2rem;
    }
  }


  .gnb {
    font-size: 2rem;
    display: flex;
    height: 50%;
    line-height: 50px;
    gap: 0px;
    text-align: center;

    img {
      display: none;
    }

    .gnb_list {
      width: 100px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:hover {
        color: color.$orange;
      }
    }


    .lnb_list {
      opacity: 0;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // position: absolute;
      top: 85px;
      font-size: 1.8rem;
      // text-align: center;

      li {
        // padding: 5px 15px;
        background-color: rgb(161, 155, 154);

        &:hover {
          background-color: rgb(255, 248, 221);

        }
      }
    }
  }
}

.lnb_list.show {
  // display: block;
  opacity: 1;
}

.gnb {
  li:nth-child(2) {
    // display: flex;
    // align-items: center;
  }
}