@use "./color.scss";

@font-face {
  font-family: 'Cafe24Decoshadow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InkLipquid';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ** ================================================== ** 

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;

  .inner {
    width: 100%;
    padding: 190px 9% 150px;

  }

  .contact_inner {
    @extend .flex_center;
    flex-direction: column;
    gap: 50px;
  }

  .tab_title {
    font-size: 3rem;
  }
}

// ** ================================================== ** 



// ** ================================================== ** 
.visual {
  .home {
    width: 100%;
    height: 100%;
    font-family: 'Cafe24Decoshadow';
    font-size: 10rem;
    text-shadow: 35px 30px 15px rgb(179, 179, 179);

    .home_inner {
      gap: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .codingIcon {
      .animate__bounce {
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }

    .designIcon {
      cursor: pointer;

      .animate__bounce {
        animation-duration: 2s;
        animation-delay: 2.7s;
        animation-iteration-count: infinite;
      }
    }
  }

  .hover_effect {
    font-family: 'InkLipquid';
    font-size: 2.2rem;
    padding: 0px 0px 8px 30px;
  }

  .click_effect {
    font-family: 'InkLipquid';
    font-size: 2.2rem;
  }

  .animate__flash {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
  }

  .coding {
    // background-color: rebeccapurple;

    .coding_inner {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 80px;
    }

    .pra_wrapper {
      display: flex;
      gap: 50px;

      button {
        width: 150px;
        height: 40px;
        border-radius: 8px;
        border: none;
        box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
        background-color: rgb(210, 210, 210);
        transition: 0.4s ease-in-out;

        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 40px;
        }

        &:hover {
          background-color: white;
        }
      }

      .pra {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .preview {
        width: 350px;
        height: 200px;
        border-radius: 2.6rem;
        overflow: hidden;
        box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);

      }

      .sqa img {
        width: 390px;
        height: 220px;
        transform: translate(-20px, -8px);
      }

      .E-class img {
        width: 100%;
        height: 100%;
      }

      .shop img {
        width: 360px;
        // width: 350px;
        height: 235px;
        // object-fit: cover;
        transform: translate(-4px, -15px);
      }
    }














    .clone_wrapper {
      .clone_box {
        display: flex;
        gap: 15px;
        align-items: flex-end;
        font-size: 1.6rem;

        h3 {
          font-size: 3rem;
          font-weight: 500;
        }

        .info {
          display: flex;
          row-gap: 10px;
          flex-direction: column;
        }

        .cloneImg {
          min-width: 700px;
          height: 400px;
          border-radius: 2.6rem;
          box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
          filter: grayscale(1) brightness(0.8);
          transition: background-position 2s linear;
          cursor: pointer;
          // overflow: hidden;

          &:hover {
            background-position: 100% 100%;
            filter: none;
          }
        }

        .cloneImg_1 {
          background: url(/images/full-screen_ckdhc.JPG) no-repeat;
          background-size: cover;
        }

        .cloneImg_2 {
          background: url(/images/full-screen_suseong.JPG) no-repeat;
          background-size: cover;
        }

        .cloneImg_3 {
          background: url(/images/full-screen_ulsan-fire.JPG) no-repeat;
          background-size: cover;
        }

        .cloneImg_4 {
          background: url(/images/full-screen_SPC.jpg) no-repeat;
          background-size: cover;
        }

        table {

          th,
          td {
            border: 1px solid black;
            vertical-align: middle;
          }

          th {
            height: 70px;
            width: 70px;
          }

          td {
            padding: 0px 15px;

          }
        }


      }
    }

    .link_btn {
      display: flex;
      gap: 10px;
      align-items: center;

      button {
        width: 120px;
        height: 40px;
        border-radius: 8px;
        border: none;
        box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
        background-color: rgb(210, 210, 210);
        transition: all .4s ease-in-out;

        a {
          display: block;
          width: 100%;
          height: 100%;
          line-height: 40px;
        }

        &:hover {
          background-color: white;
        }
      }
    }
  }

  .design {
    .design_inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 80px;

      .design_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .phone_wrapper {
          display: flex;
          gap: 100px;

          .design_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            h3 {
              font-size: 2rem;
            }

            .phone {
              overflow: hidden;
              box-shadow: 9px 2px 10px 0px rgba(0, 0, 0, 0.8);
              outline: 3px ridge #444444;
              border-radius: 3.6rem;
              width: 26rem;
              height: 51rem;
              cursor: pointer;

              &:hover {
                background-position: 100% 100%;
              }
            }

            .detailPage_1 {
              background: url(/images/detailPage_1.jpg) no-repeat;
              background-size: cover;
              transition: background-position 3.5s linear;

            }

            .detailPage_2 {
              background: url(/images/detailPage_2.jpg) no-repeat;
              background-size: cover;
              transition: background-position 4s linear;

            }

            .detailPage_3 {
              background: url(/images/detailPage_3.jpg) no-repeat;
              background-size: cover;
              transition: background-position 2s linear;

            }
          }
        }
      }
    }
  }

  .aboutMe {

    .aboutMe_inner {
      display: flex;
      flex-direction: column;
      gap: 80px;
      align-items: center;
    }

    .meBox_wrapper {
      display: flex;
      gap: 50px;


      h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.6rem;
        margin-bottom: 5px;
      }
    }

    .photo_img {
      img {
        width: 100%;
        max-width: 280px;
        min-width: 200px;
        border-radius: 100%;
      }
    }

    .resume {
      display: flex;
      flex-direction: column;
      gap: 50px;


      .meBox_1 {
        // grid-row: 1/2;
        // grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

        .profile {
          grid-column: 1/2;

          div {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }

        .license {
          grid-column: 2/3;
        }

        .personality {
          grid-column: 3/4;
        }
      }

      .education {
        grid-row: 2/3;
        grid-column: 1/4;
      }

      .meBox_2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .experience {
          grid-column: 1/2;
        }

        .performance {
          grid-column: 2/4;

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            li {
              img {
                width: 60px;
                height: 65px;
                object-fit: contain;
              }
            }

            li:nth-child(3) {
              img {
                width: 56px;
                height: 58px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}

.detail_pop {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  // align-items: center;

  .detail_img {
    min-width: 450px;
    width: 450px;
    // min-width: 400px;
  }

  .close_btn {
    width: 30px;
    filter: invert(100);
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
  }
}


// =======================================
// <!-- 원본 -->

// .coding {
//   background-color: rebeccapurple;

//   .coding_inner {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     gap: 80px;
//     background-color: yellow;
//   }

//   .clone_wrapper {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     gap: 80px;
//     flex-direction: column;

//     >div {
//       justify-content: center;
//       display: flex;
//       gap: 80px;
//     }

//     .clone_box {
//       display: flex;
//       flex-direction: column;
//       gap: 15px;

//       h3 {
//         font-size: 2rem;
//       }

//       .cloneImg {
//         width: 380px;
//         height: 180px;
//         border-radius: 1rem;
//         box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
//         filter: grayscale(1) brightness(0.8);
//         transition: background-position 2s linear;
//         cursor: pointer;

//         &:hover {
//           background-position: 100% 100%;
//           filter: none;
//         }
//       }

//       .cloneImg_1 {
//         background: url(/images/full-screen_ckdhc.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_2 {
//         background: url(/images/full-screen_suseong.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_3 {
//         background: url(/images/full-screen_ulsan-fire.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_4 {
//         background: url(/images/full-screen_SPC.jpg) no-repeat;
//         background-size: cover;
//       }
//     }
//   }
// }
// =======================================
// 원본
// .coding {
//   // background-color: rebeccapurple;

//   .coding_inner {
//     display: flex;
//     align-items: center;
//     // justify-content: center;
//     flex-direction: column;
//     gap: 80px;
//     // background-color: rgb(222, 222, 173);
//   }

//   .clone_wrapper {
//     // background-color: rgb(225, 7, 7);
//     // width: 100%;
//     // height: 100%;
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;

//     .clone_box {
//       display: flex;
//       gap: 15px;
//       align-items: flex-end;
//       font-size: 1.6rem;

//       h3 {
//         font-size: 3rem;
//         font-weight: 500;
//       }

//       .preview {
//         .hover_effect {
//           font-family: 'InkLipquid';
//           font-size: 2.2rem;
//           padding: 0px 0px 8px 30px;
//           padding-left: 30px;
//         }

//         .animate__flash {
//           animation-duration: 1.8s;
//           animation-iteration-count: infinite;
//         }

//       }


//       .info {
//         display: flex;
//         row-gap: 10px;
//         flex-direction: column;
//         // background-color: rgb(222, 222, 173);
//       }



//       .cloneImg {
//         min-width: 700px;
//         height: 400px;
//         border-radius: 2.6rem;
//         box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
//         filter: grayscale(1) brightness(0.8);
//         transition: background-position 2s linear;
//         cursor: pointer;
//         // overflow: hidden;

//         &:hover {
//           background-position: 100% 100%;
//           filter: none;
//         }
//       }

//       .cloneImg_1 {
//         background: url(/images/full-screen_ckdhc.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_2 {
//         background: url(/images/full-screen_suseong.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_3 {
//         background: url(/images/full-screen_ulsan-fire.JPG) no-repeat;
//         background-size: cover;
//       }

//       .cloneImg_4 {
//         background: url(/images/full-screen_SPC.jpg) no-repeat;
//         background-size: cover;
//       }

//       table {

//         th,
//         td {
//           border: 1px solid black;
//           vertical-align: middle;
//         }

//         th {
//           height: 70px;
//           width: 70px;
//         }

//         td {
//           padding: 0px 15px;

//         }
//       }

//       .link_btn {
//         display: flex;
//         gap: 10px;
//         align-items: center;

//         button {
//           width: 120px;
//           height: 40px;
//           border-radius: 8px;
//           border: none;
//           box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
//           background-color: rgb(210, 210, 210);

//           transition: all .4s ease-in-out;

//           // transition: all .2s linear;
//           a {
//             display: block;
//             width: 100%;
//             height: 100%;
//             line-height: 40px;
//           }

//           &:hover {
//             background-color: white;
//           }
//         }
//       }

//     }
//   }
// }
// 원본
// ==========================================


// transition: all .1s ease-in-out;
// transition: all 2s linear;
// animation: none;
// animation: size_img .1s linear infinite;


// animation: size_img 3.5s linear infinite;
// @keyframes size_img {
//   0% {
//     // transform: scaleX(600px) scaleY(350px);
//     transform: scale(0);

//   }

//   100% {
//     // transform: scaleX(700px) scaleY(400px);
//     transform: scale(1, 1);

//   }
// }






// .pop-up {
//   background-color: rgba(135, 207, 235, 0.493);
//   position: absolute;
//   z-index: 99999999;
//   top: 0;
//   left: 0;
//   padding: 0px;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .design-pop_1 {
//     background-color: lightcoral;
//     width: 90%;
//     // opacity: 0;
//     // height: 100%;
//   }
// }

// opacity: 0;
// padding: 70px 0px;
// display: flex;
// flex-direction: column;
// align-items: center;
// flex-direction: column;
// transform-style: preserve-3d;
// animation: rotate_pro 3s linear infinite;

// @keyframes rotate_pro {
//   0% {
//     transform: rotateX(0deg) rotateY(180deg);
//   }

//   100% {
//     transform: rotateX(0deg)rotateY(360deg);
//   }
// }
// width: 100vw;
// height: 100vh;
// background-color: rgb(185, 132, 94);

// .project_1 {
// display: flex;
// justify-content: center;
// position: absolute;
// width: 100px;
// transform: translateZ(100px);

//   box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
//   filter: grayscale(1) brightness(0.8);
//   animation: rotate_img 3.5s linear infinite;
// }




// @keyframes rotate_img {
//   0% {
//     transform: perspective(1500px) rotateY(0deg);
//   }

//   100% {
//     transform: perspective(1500px) rotateY(360deg);
//   }
// }

.info_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .info_page {
    opacity: 0;
    display: flex;
    gap: 20px;
    align-items: flex-end;

    .info_detail {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        display: flex;
        justify-content: space-between;

        h3 {
          font-size: 3.6rem;
        }

        img {
          width: 18px;
          height: 18px;
          filter: invert(100);
          cursor: pointer;
        }
      }



    }
  }
}

// ==================================================================

.info_page.show {
  opacity: 1;
}

.clone.remove {
  display: none;
}

.zoom_img.zoom {
  background: url(/images/suseong.JPG) no-repeat;
  background-size: cover;
  width: 700px;
  height: 400px;
  border-radius: 2.6rem;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
  filter: grayscale(1) brightness(0.8);
  overflow: hidden;

  &:hover {
    filter: none;
    transition: all 2s linear;
    background-position: 100% 100%;

    // transition: all .1s ease-in-out;
    // animation: none;
    // animation: size_img .1s linear infinite;
  }
}

.clone_1.noAni {
  animation: none !important;
  filter: none !important;
  background-position: 100% 100%;
}