@use "./color.scss";

@font-face {
  font-family: 'Cafe24Decoshadow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ** ================================================== ** 

body {
  width: 100vw;
  overflow-x: hidden;
  // height: 100vh;
}

main {
  font-size: 1.8rem;
  width: 100%;
  // width: 100vw;
  // height: 100vh;
  // background-color: rgb(203, 129, 77);

  .inner {
    width: 100%;
    height: 100%;
    // background-color: thistle;
  }

  .contact_inner {
    @extend .flex_center;
    flex-direction: column;
    gap: 50px;
  }

  .tab_title {
    font-size: 5rem;
  }
}

main section {
  padding: 200px 9% 200px;
  // background-color: teal;
}








// ** ================================================== ** 

.home {
  width: 100%;
  height: 100%;
  font-family: 'Cafe24Decoshadow';
  font-size: 10rem;
  text-shadow: 35px 30px 15px rgb(179, 179, 179);

  .home_inner {
    gap: 200px;
    @extend .flex_center;
  }

  .codingIcon {
    cursor: pointer;

    .animate__bounce {
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  .designIcon {
    cursor: pointer;

    .animate__bounce {
      animation-duration: 2s;
      animation-delay: 2.7s;
      animation-iteration-count: infinite;
    }
  }
}

// 원본 지우면 앙대!!
// .aboutMe {
//   .aboutMe_inner {
//     @extend .flex_center;
//     flex-direction: column;
//     gap: 50px;
//   }

//   .meBox_wrapper {
//     font-size: 2.2rem;
//     width: 50%;

//     .meBox_detail {
//       margin-bottom: 60px;
//     }

//     h3 {
//       font-size: 2.8rem;
//       font-weight: bold;
//       margin-bottom: 20px;
//     }

//     h6 {
//       font-size: 1.8rem;
//       margin-bottom: 20px;

//     }

//     p {
//       margin-bottom: 5px;
//     }

//     .photo {
//       @extend .flex_center;
//     }

//     .photo_img {
//       background: url(/images/포폴사진.jpg) no-repeat 40%;
//       background-size: cover;
//       width: 320px;
//       height: 430px;
//       border-radius: 100%;
//     }

//     .performance ul {
//       display: flex;
//       gap: 15px;

//       li:nth-child(3) {
//         img {
//           width: 78px;
//           height: 87px;
//           object-fit: contain;
//         }
//       }
//     }
//   }
// }
// 지우면 앙대!!

.aboutMe {
  .aboutMe_inner {
    @extend .flex_center;
    flex-direction: column;
    gap: 50px;
  }

  .meBox_wrapper {
    font-size: 2.2rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    .profile,
    .education {
      padding-top: 120px;
    }

    .meBox_detail {
      margin-bottom: 60px;
    }

    h3 {
      font-size: 2.8rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    h6 {
      font-size: 1.8rem;
      margin-bottom: 20px;

    }

    p {
      margin-bottom: 5px;
    }

    .photo_img {
      background: url(/images/포폴사진.jpg) no-repeat 40%;
      background-size: cover;
      width: 320px;
      height: 430px;
      border-radius: 100%;
    }

    .performance ul {
      display: flex;
      gap: 15px;

      li:nth-child(3) {
        img {
          width: 78px;
          height: 87px;
          object-fit: contain;
        }
      }
    }
  }
}



// =======================================

.coding {

  // width: 100%;
  // height: 100%;
  // width: 70%;
  // height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  .coding_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 150px;
  }

  .clone_wrapper {
    // width: 100%;
    // height: 100%;
    // align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;

    .clone_box {
      display: flex;
      flex-direction: column;
      // align-items: center;
      gap: 18px;

      h3 {
        font-size: 4rem;
        // font-weight: bold;
      }
    }





    .cloneImg {
      width: 700px;
      height: 400px;
      //  width: 780px;
      // height: 450px;
      // width: 250px;
      // height: 140px;
      border-radius: 1.4rem;
      box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
      filter: grayscale(1) brightness(0.8);
      // animation: rotate_img 3.5s linear infinite;

      // overflow: hidden;
      transition: all .3s ease-in-out;

      &:hover {
        filter: none;
        // transition: all .1s ease-in-out;

        // background-position: 100% 100%;
        // transition: all 2s linear;
        // animation: none;
        // animation: size_img .1s linear infinite;
      }

      // @keyframes size_img {
      //   0% {
      //     // transform: scaleX(600px) scaleY(350px);
      //     transform: scale(0);

      //   }

      //   100% {
      //     // transform: scaleX(700px) scaleY(400px);
      //     transform: scale(1, 1);

      //   }
      // }

    }

    .cloneImg_1 {
      background: url(/images/ckdhc.JPG) no-repeat;
      background-size: cover;
    }

    .cloneImg_2 {
      background: url(/images/suseong.JPG) no-repeat;
      background-size: cover;
    }

    .cloneImg_3 {
      background: url(/images/suseong.JPG) no-repeat;
      background-size: cover;
    }

    .cloneImg_4 {
      background: url(/images/suseong.JPG) no-repeat;
      background-size: cover;
    }

  }



}


// .project_1 {
//   // width: 100%;
//   // height: 100%;
//   // align-items: center;
//   // justify-content: center;
//   // gap: 45px;
//   // background-color: aqua;

//   .clone {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     // text-align: left;
//     gap: 20px;

//   
//   }

// }





table {
  margin: 0 0 5px 0;
  // border-collapse: collapse;

  th,
  td {
    border: 1px solid black;
    // height: 50px;
  }

  th {
    // width: 80px;
    padding: 10px;
  }

  td {
    // text-align: left;
    min-width: 350px;
    // width: 350px;
    padding: 0 10px;
  }
}

.link_btn {
  display: flex;
  gap: 10px;
  align-items: center;

  button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
    background-color: rgb(210, 210, 210);

    transition: all .4s ease-in-out;

    // transition: all .2s linear;
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 40px;
    }

    &:hover {
      background-color: white;
    }
  }
}


.codingssssss {
  // opacity: 0;
  width: 100%;
  height: 100%;
  // opacity: 0;
  // padding: 70px 0px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // flex-direction: column;
  // transform-style: preserve-3d;
  // animation: rotate_pro 3s linear infinite;

  // @keyframes rotate_pro {
  //   0% {
  //     transform: rotateX(0deg) rotateY(180deg);
  //   }

  //   100% {
  //     transform: rotateX(0deg)rotateY(360deg);
  //   }
  // }
  // width: 100vw;
  // height: 100vh;
  // background-color: rgb(185, 132, 94);

  // .project_1 {
  // display: flex;
  // justify-content: center;
  // position: absolute;
  // width: 100px;
  // transform: translateZ(100px);

  //   box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
  //   filter: grayscale(1) brightness(0.8);
  //   animation: rotate_img 3.5s linear infinite;

  // }
}




@keyframes rotate_img {
  0% {
    transform: perspective(1500px) rotateY(0deg);
  }

  100% {
    transform: perspective(1500px) rotateY(360deg);
  }
}

.info_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .info_page {
    opacity: 0;
    display: flex;
    gap: 20px;
    align-items: flex-end;

    .info_detail {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        display: flex;
        justify-content: space-between;

        h3 {
          font-size: 3.6rem;
        }

        img {
          width: 18px;
          height: 18px;
          filter: invert(100);
          cursor: pointer;
        }
      }



    }
  }
}


// ==================================================================

.info_page.show {
  opacity: 1;
}

.clone.remove {
  display: none;
}

.zoom_img.zoom {
  background: url(/images/suseong.JPG) no-repeat;
  background-size: cover;
  width: 700px;
  height: 400px;
  border-radius: 2.6rem;
  box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
  filter: grayscale(1) brightness(0.8);
  overflow: hidden;

  &:hover {
    filter: none;
    transition: all 2s linear;
    background-position: 100% 100%;

    // transition: all .1s ease-in-out;
    // animation: none;
    // animation: size_img .1s linear infinite;
  }
}

.clone_1.noAni {
  animation: none !important;
  filter: none !important;
  background-position: 100% 100%;
}