@media (max-width: 768px) {

  .coding {
    padding: 110px 6% 0;
    display: flex;

    .fp-is-overflow>.fp-overflow {
      height: fit-content;
      overflow: visible;
    }

    .tab_title {
      display: none;
    }

    .mo-title {
      display: block;
    }

    .section {


      .section_inner {
        // height: fit-content;
        // gap: 0px;
      }

      .fp-table {
        // height: fit-content;


      }

      .mo-content {
        // width: 100%;
        // height: 100vh;
        // height: fit-content;
        // height: 780px;

        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: flex-start;
        gap: 30px;

        .screen-wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 10px;

          .res-phone {
            width: 120px;
            height: 240px;
            border-radius: 1.5rem;
            position: static;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);

            &:hover {
              background-position: 100% 100%;
            }
          }
        }
      }

      // .content-wrapper {
      // display: flex;
      // gap: 15px;
      // align-items: flex-end;
      // }

      .preview {
        width: 100%;
        // padding-bottom: 25px;
      }

      .preview-2 {
        .cloneImg {
          min-width: 270px;
          width: 270px;
          height: 150px;
          border-radius: 1.3rem;
          filter: grayscale(1) brightness(0.9);

          &:hover {
            filter: none;
          }
        }
      }

      .cloneImg {
        min-width: 270px;
        width: 270px;
        height: 150px;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
      }

      .info {
        .feature {
          font-size: 1.3rem;
        }

        table {
          font-size: 1.2rem;

          th {
            width: 100px;
          }

          td {
            padding: 10px 0px 10px 4px;
          }
        }

        .link_btn {
          display: flex;
          gap: 2px;
          align-items: center;

          button {
            width: 100px;
            height: 35px;
            border-radius: 8px;
            border: none;
            box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
            background-color: rgb(210, 210, 210);
            transition: all .4s ease-in-out;
            color: rgb(49, 48, 48);

            a {
              display: block;
              width: 100%;
              height: 100%;
              line-height: 35px;
            }

            &:hover {
              background-color: white;
            }
          }

          .http-link {
            display: flex;
            gap: 10px;
            align-items: center;

            a {
              width: 40px;
              height: 40px;
              display: block;

              img {
                width: 100%;
                height: 100%;
                border-radius: 5px;

              }
            }
          }

          .btn1 {
            background-color: #FF6347;
            margin-right: 7px;
          }
        }
      }
    }

    .clone_5 {

      .section_inner-2 {
        padding: 0%;
        // height: fit-content;
        // height: 360px;
      }

      .mySwiper {
        width: 100%;
        height: 360px;

        .swiper-wrapper {
          .swiper-slide {
            // height: 100%;
            // height: 450px;


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .img-wrap {
              // width: 600px;
              // height: 360px;
              // border-radius: 2.6rem;
              min-width: 270px;
              width: 270px;
              height: 150px;
              border-radius: 1.3rem;

              overflow: hidden;
              box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          filter: invert(70%);
          width: 35px;
          height: 35px;
          top: 315px;
        }

        // .swiper-button-prev {
        //   background: url(/images/arrow-left.svg) no-repeat;
        // }

        // .swiper-button-next {
        //   background: url(/images/arrow-right.svg) no-repeat;
        // }

        // .swiper-button-next:after,
        // .swiper-button-prev:after {
        //   display: none;
        // }
      }

      .swiper-pagination {
        font-size: 1.4rem;
        position: absolute;
        bottom: 0px;
      }
    }
  }

  .intro {
    padding: 0% 6%;
  }

  .intro-inner {
    .text-flow {
      height: 30%;
      display: flex;
      gap: 20px;
      align-items: flex-start;
      padding-bottom: 0%;

      h2 {
        letter-spacing: 8px;
        font-weight: 900;
        font-size: 3rem;
      }

      .text-h3 {
        letter-spacing: 3px;
        font-size: 1.8rem;

        p {
          margin-bottom: 10px;
        }
      }
    }

    .line_text {
      width: 100%;
      padding-top: 0%;
      height: 30%;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      font-size: 1.6rem;

      .text-h3 {
        letter-spacing: 2px;

        p {
          display: block;
          margin-bottom: 10px;
        }

        span {
          color: #ec3b00;
        }
      }

      .intro-click {
        cursor: pointer;
        letter-spacing: 10px;
        font-style: italic;
      }
    }
  }

  header {
    padding: 0 6% 0 7%;

    .logo {
      font-size: 2.6rem;
      gap: 0px;
      flex-direction: column;

      p {
        font-size: 1.4rem;
      }
    }

    .gnb {
      display: none;
    }

    .mobile-btn {
      display: block;
      width: 38px;

      img {
        width: 100%;
      }
    }

  }

  #design {
    .design-project {
      padding: 120px 10%;

      .design_inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 45px;
      }

      .detail_wrapper {

        .phone_wrapper {
          display: flex;
          flex-direction: column;

          .design_box:nth-child(3) {
            padding-bottom: 80px;
          }
        }
      }
    }
  }

  .pop-up {
    .detail_img {
      width: 280px;
      min-width: 280px;
    }
  }

  #aboutMe {
    padding: 120px 10% 5%;

    .aboutMe_inner {
      display: flex;
      gap: 50px;
    }

    .meBox_wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;


      h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
    }

    .photo_img {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      img {
        width: 100%;
        max-width: 200px;
        min-width: 180px;
        border-radius: 100%;
      }

      button {
        width: 150px;
        padding: 10px 5px;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 5px 6px rgba(57, 57, 57, 0.344);
        background-color: #FF6347;
        color: white;
        transition: all .4s ease-in-out;

        a {
          font-size: 1.5rem;
          display: block;
          width: 100%;
          height: 100%;
        }

        &:hover {
          background-color: white;
          color: rgb(86, 86, 86);
        }
      }

      .animate__pulse {
        animation: pulse 1.5s ease infinite;
      }

    }

    .resume {

      text-align: center;

      .meBox_1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr .5fr;
        gap: 40px;


        .profile {
          grid-column: 1/2;
          grid-row: 1/2;

          div {
            display: flex;
            gap: 10px;

            p:nth-child(3) {
              margin-bottom: 20px;
            }
          }
        }

        .license {
          grid-row: 2/3;
          grid-column: 1/2;

        }

        .personality {
          grid-row: 3/4;
          grid-column: 1/2;
          display: flex;
          flex-direction: column;

          p:last-child {
            margin-bottom: 20px;
          }
        }
      }

      .meBox_2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        row-gap: 40px;

        .experience {
          grid-column: 1/2;
          grid-row: 1/2;
        }

        .performance {
          grid-column: 1/2;
          grid-row: 2/3;

          ul {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
































// // // =================================
// // // =================================
// // // =================================
// // // =================================
// // @media (max-width: 820px) {

// //   .meBox_wrapper {
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     text-align: center;
// //   }


// //   .performance {

// //     ul {
// //       justify-content: center;
// //     }
// //   }

// // }

// // @media (max-width: 640px) {

// //   main section {
// //     padding: 150px 5% 200px;
// //     background-color: white;
// //   }


// //   .lnb_list.show {
// //     // display: block;
// //     opacity: 1;
// //   }

// //   .gnb {
// //     li:nth-child(2) {
// //       // display: flex;
// //       // align-items: center;
// //     }
// //   }

// //   .home_inner {
// //     // flex-direction: column;
// //   }




// //   .aboutMe {
// //     padding-left: 9%;
// //     padding-right: 9%;

// //     .aboutMe_inner {
// //       gap: 50px;
// //     }

// //     .meBox_wrapper {
// //       font-size: 2rem;
// //       flex-direction: column;
// //       gap: 70px;
// //       text-align: left;


// //       h3 {
// //         font-size: 2.6rem;
// //       }

// //       h6 {
// //         font-size: 1.6rem;
// //       }
// //     }

// //     .photo_img {
// //       width: 280px;
// //     }

// //     .resume {
// //       display: flex;
// //       row-gap: 60px;

// //       .meBox_1 {
// //         display: flex;
// //         flex-direction: column;
// //         gap: 60px;
// //       }

// //       .education {
// //         min-width: 320px;
// //       }

// //       .meBox_2 {
// //         display: flex;
// //         flex-direction: column;
// //         gap: 60px;

// //         .performance ul {
// //           display: flex;
// //           gap: 15px;
// //           justify-content: flex-start;

// //           li {
// //             img {
// //               width: 50px;
// //               height: 50px;
// //             }
// //           }

// //           li:nth-child(3) {
// //             img {
// //               width: 45px;
// //               height: 45px;
// //               object-fit: contain;
// //             }
// //           }
// //         }
// //       }
// //     }
// //   }

// // }