@use "./reset.scss";
@use "./header.scss";
@use "./main.scss";
@use "./intro.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// =============================================
// .intro {
//   display: block;
// }

// .intro.hide {
//   display: none;
// }

// =============================================

.firstPage {
  // display: none;
}

.firstPage.show {
  // display: block;
}


.tab_item {
  // display: none;
}

/* .firstPage.show가 적용되었을 때 */
.firstPage.show .tab_item:nth-child(1) {
  // display: block;
}