@use "./reset.scss";
@use "./header.scss";
@use "./main.scss";
@use "./intro.scss";
@use "./media.scss";
@use "./coding.scss";


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}



// // 인트로 화면전환 =======================================
// //  ==================================================
.intro {
  display: block;
}

.intro.hide {
  display: none;
}

.firstPage {
  display: none;
  opacity: 0;
  // transition: opacity 2s ease-in-out;
  transition: opacity 2s ease;
}

.firstPage.show {
  display: block;
  opacity: 1;
}



// //  =================================================
// //  ==================================================


.hover_effect {
  font-family: 'InkLipquid';
  font-size: 1.8rem;
  padding: 0px 0px 8px 8px;
}

.click_effect {
  font-family: 'InkLipquid';
  font-size: 2.2rem;
}

.animate__flash {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}


.tab_item {
  display: none;
}

/* .firstPage.show가 적용되었을 때 */
.firstPage.show .tab_item:nth-child(1) {
  display: block;
}



.lnb_list li.active {
  // background-color: cornflowerblue;
  // display: block;
}


.lnb_tab.active {
  display: block;
}


// =============================================