@use "./reset.scss";
@use "./header.scss";
@use "./main.scss";
@use "./intro.scss";
@use "./home.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// =============================================
.intro {
  display: block;
}

.intro.hide {
  display: none;
}

// =============================================

header {
  opacity: 0;
}

header.show {
  opacity: 1;
}

// =============================================

.project {
  opacity: 0;
}

.project.show {
  opacity: 1;
}

// =============================================

// .tab_item.sectionShow {
//   display: none;
// }